<h1><%= t('new_rent') %></h1>

<p><%= t('greeting') %> <b><%= @rent.user.first_name %> <%= @rent.user.last_name %></b></p>
<h4><%= t('rent_success') %></h4>
<div>
  <h3><%= @rent.book.title %></h3>
  <p><%= t('genre') %>: <%= @rent.book.genre %></p>
  <p><%= t('author') %>: <%= @rent.book.author %></p>
  <p><%= t('publisher') %>: <%= @rent.book.publisher %></p>
  <p><%= t('year') %>: <%= @rent.book.year %></p>
<div>
<br>

<h4><%= t('rent_date') %>:  <%= @rent.created_at %></h4>
<h4><%= t('rent_start_date') %>:  <%= @rent.from %></h4>
<h4><%= t('rent_end_date') %>:  <%= @rent.to %></h4>
