<h1>Nuevo Alquiler</h1>

<p>Buenas tardes <b><%= @rent.user.first_name %> <%= @rent.user.last_name %></b></p>
<h4>Has alquilado con exito:</h4>
<div>
  <h3><%= @rent.book.title %></h3>
  <p>Genero: <%= @rent.book.genre %></p>
  <p>Autor: <%= @rent.book.author %></p>
  <p>Publisher: <%= @rent.book.publisher %></p>
  <p>Año: <%= @rent.book.year %></p>
<div>
<br>

<h4>Fecha de alquiler: <%= @rent.created_at %></h4>
<h4>Inicio de alquiler: <%= @rent.from %></h4>
<h4>Fin de alquiler: <%= @rent.to %></h4>
